In [31]:
# import the numpy library to get the abds function
import numpy as np
a = -10
np.abs(a)

10

In [32]:
# Define a custom function to get absolute value
def abs(x):
    if x < 0:
        x = -x
    return x

abs_value_custom = abs(-10)
print("absolute Custom value is:", abs_value_custom)

absolute Custom value is: 10

## FUNCTIONS

 consider data as sets

In [5]:
# basic set
a = {"Apples","Bananas","Peaches","Grapes","Bananas","Mangoes","Bananas"}
# or
a = set(["Apples","Bananas","Peaches","Grapes","Bananas","Mangoes","Bananas"])
print(a)

{'Bananas', 'Apples', 'Peaches', 'Grapes', 'Mangoes'}

In [7]:
# data type
type(a)
for x in a:
    print(x)

Bananas
Apples
Peaches
Grapes
Mangoes

a set can be infinite in math eg fruits in the world

apple 
in comp we cannot have infinite reperesentation

In [11]:
# subset of a
d = {"Apples"}

In [12]:
A = {1,2,3,4}
B = {1,2}
print(type(A), type(B))

<class 'set'> <class 'set'>

In [13]:
#  A is not a subset of B
A.issubset(B)

False

In [16]:
B.issubset(A)

True

In [17]:
A.issuperset(B)

True

x = [1,4] : closed set 1, 2,3,4 included
    
y = {1, 4}  : the boundary values not included in the set ie 1, 4

In [19]:
#Add a value to a set
a = {2,3,5,6,7,10}
a.add(10)
print(a)

{2, 3, 5, 6, 7, 10}

In [20]:
# substact a value from a set
a.discard(2)
print(a)

{3, 5, 6, 7, 10}

In [22]:
!python --version

Python 3.8.5

In [30]:
A = {1,2,3,4}
B = {3,4,5,6, 8,10}

#  union
c = A |B
print("Union", c)

# Intersection
d = A & B
print("Intersection", d)


# Difference
e = A-B
print("Difference of A_B", e)

f = B-A
print("Difference of B-A", f)

Union {1, 2, 3, 4, 5, 6, 8, 10}
Intersection {3, 4}
Difference of A_B {1, 2}
Difference of B-A {8, 10, 5, 6}